* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    
}
header {
    display: flex;
    background-color: #03fcfc;
    height: 80px;
    justify-content: space-between;
    align-items: center;
   
}
.nav_bar {
    display: flex;
    min-width: 700px;
    justify-content: space-evenly;
}
.nav_bar a {
    font-size: 14px;
    letter-spacing: .3px;
    color: #282c3f;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
   
}
.nav_bar a:hover {
   /*border-bottom: 2px solid #f54e77;*/
   border-radius: 5px;
  border: 2px solid #73AD21;
  padding: 5px; 
  width: 120px;
  height: 20px; 
}
.search_bar {
    height: 80px;
    min-width: 200px;
    width: 30%;
    display: flex;
    align-items: center;
}
.search_input {
    color: #696e79;
    background-color: #f5f5f6;
    flex-grow: 1;
    height: 30px;
    border: 0;
}
.search_icon {
    box-sizing: content-box;
    height: 10px;
    padding: 10px;

    background-color: #f54e77;
    color: #282c3f;
    font-weight: 400;
}
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
  }
  .banner_container {
    margin: 20px 0;
}
.banner_image {
    width: 100%;
}
.category_heading {
    text-transform: uppercase;
    color: aqua;
    letter-spacing: .15em;
    font-size: 1.8em;
    margin: 50px 0 10px 30px;
    max-height: 5em;
    font-weight: 700;
}

.category_items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.sale_item {
    padding-bottom: 20%;
    height: 400px;
    width: 300px;
}
.menu{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #73AD21;
}
.footer_container {
    
    background: #282c3f;
    display: flex;
    justify-content: space-evenly;
}

.footer_column {
    display: flex;
    flex-direction: column;
    padding: 5%;
}

.footer_column h3 {
    color:#f5f5f6;
    font-size: 15px;
    padding: 5%;
   
}

.footer_column a {
    color:aliceblue;
    font-size: 15px;
    text-decoration: none;
    padding-bottom: 10px;
}

.copyright {
    background-color: #282c3f;
    color:#f5f5f6;
    text-align: start;
    padding: 15px;
}